<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><title></title>
<style type="text/css">
	
	.mar:hover{transform: scale(1.2);background: lightgray;}
</style>
</head>
<body>
<form style="margin-left: 40%;" method="post">
	<h2>Youtube Search App</h2>
  <div class="form-group">
    <label for="exampleInputEmail1"></label>
    <input type="text" class="form-control mar" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 300px;" placeholder="Search" name="query">
  </div>
  <button type="submit" value="submit" class="btn btn-outline-info">Search On Youtube</button>
  <button type="submit" value="lucky"  class="btn btn-outline-primary">I Am Feeling Lucky</button>
</form>
{% if x==0 %}
<h2 style="margin-left: 40%;margin-top: 100px;color: red;">No Internet Connection</h2>
{% endif %}

<div class="row" style="margin-left: 90px;margin-top: 50px;">
	{% for video in videos %}
  <div class="col-sm-6">
    <div class="card">
    	 <img src="{{video.thumbnail}}" width="200px" height="200px" >

      <div class="card-body">
      	<h4>{{loop.index}}</h4>
        <h5 class="card-title">{{video.title}}</h5>
        <p class="card-text"></p>
        <a href="{{video.url}}" class="btn btn-outline-info">View</a>
      </div>
    </div>
  </div>
  {% endfor %}

</body>
</html>